


<ny-org-saludo #mivariable [nombre]="name" (saludar)="onSaludar($event)"> </ny-org-saludo>
<p>
    <span [ngClass]="validando(mivariable.nombreLista)">{{mivariable.nombreLista}}</span>
</p>

<br>
<br>
<br>    
<br>
<br>
<br>
<p>Progreso :C</p>
<br>
<div class="w3-light-grey" >
    <div class="w3-container w3-green w3-center" style="width:25%">25%</div>
  </div><br>

  
  <div class="w3-light-grey">
    <div class="w3-container w3-red w3-center" style="width:50%">50%</div>
  </div><br>
  
  <div class="w3-light-grey">
    <div class="w3-container w3-blue" style="width:75%">75%</div>
  </div>
  